{% extends 'web/base.html' %} {% block main_body %}
<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        Contact Us
        <small>Maize Counting system</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'web_index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">contact</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <h3>E-mail</h3>
    <br>
    <div>
 
      <h4> Ma YiLin : <p>yma018@mymail.sim.edu.sg</p></h4>
      <h4>Li Ming Long : <p>lm002@mymail.sim.edu.sg</p></h4>
      <h4>Kim Shin Kyu : <p>kim076@mymail.sim.edu.sg</p></h4>
      <h4>Chng Wei Da : <p>wdchng001@mymail.sim.edu.sg</p></h4>
      <h4>Lu Hong Yu : <p>hlu007@mymail.sim.edu.sg</p></h4>
  </div>  
      
    
   
</section>

<!-- /.content -->
{% endblock%}