{% extends 'web/base.html' %} {% block main_body %}
<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        Home Page
        <small>Maize Counting system</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
   <h4>About Us</h4>
   <h6>Welcome to the Maize Tassel Counting Application website (Maize Trail), We are a group of  final year students from the Bachelor in Computer Science program <br /> at Singapore Institute of Management (SIM GE) - University of Wollongong, NSW AU.<br />
   </h6>

   <h6><b>The team members </b></h6>
   <p>Ma YiLin (Team Leader) <br />
    Li Ming Long<br />
    Kim Shin Kyu<br />
    Lu Hong Yu<br />
    Chng Wei Da</p>
   <h6><b>Project</b></h6>
   <p> At Maize Trail, we have assembled a team who are focused on making computer vision technology accessible to all in the agriculture community.
        We develop powerful system through deep neural network that read images, predict maize tassel numbers, and visualise output. 
        We also design analytics solutions that are tailor-made to tackle specific expectations. 
        We are committed to data excellency and to uncover best solution for lessen the burden of monotonous manual work in the agriculture industry.</p>
   
</section>

<!-- /.content -->
{% endblock%}