{% extends "web/base.html" %}
{% load static %}



{% block main_body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Upload 
            <small>Count Picture</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'web_index' %}"><i class="fa fa-dashboard"></i> Homepage</a></li>
            <li class="active">upload</li>
          </ol>
      
    </section>
    <form class="form-horizontal" action="{% url 'web_mpicture_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="box-body">
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Picture：</label>
            <div class="col-sm-4">
              <input type="file" name="cover_pic" multiple="multiple"/>
            </div>
          </div>
          <div class="form-group">
            <label for="nputEmail3" class="col-sm-2 control-label">label For Pictures：</label>

            <div class="col-sm-4">
              <input type="text" name="label" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="nputEmail3" class="col-sm-2 control-label">comment：</label>

            <div class="col-sm-4">
              <input type="text" name="comment" class="form-control" >
            </div>
          </div>

        </div>
        <!-- /.box-body -->
        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Continue count</button> &nbsp; 
            
         </div>

        <!-- /.box-footer -->
      </form>
   
    <!-- /.box -->
    <section class="content container-fluid">

      <div class="row"></div>
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div style="height: 500px;" class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Sequence</th>
                  <th>Picture</th>
                  <th>Predict</th>
                  <th>count</th>
                </tr>
                {% for vo in allpic %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td> <img class="img uppic" src="{% static 'uploads/picture'%}/{{ vo.pic }}"  alt="..."></td>
                  <td> <img class="img uppic " src="{% static 'result_img_pre'%}/{{ vo.pre }}"  alt="..."></td>
                  <td>{{ vo.num }}</td>    
                </tr>
                {% endfor %}
              
              </table>
             

           
            </div>
            
          </div>
          <div id="divZoom" class="divZoom" >
            <img id="imgZoom" style="width:100%;" />
          </div> 
        </div>
     </section>
   
    
   <style>
    .uppic{
      width:200px;height:100px;
      left:100px;
      float:left;
      margin: 5px;
    }
    .divZoom {
              display: inline;
              position: absolute;
              width: 50%;
              height: 70%;
              top: 8%; 
              left:120px;
      
    </style>
   
   


   
    <!-- /.content -->
{% endblock %}


{% block loadjavascript %}
<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
    $(function () {
              //放大
              $(".img").click(function () { 
                  $("#divZoom").hide(100);
   
                  var img = $(this);
                  var top = img.position().top;
                  var left = img.position().left;
                  var src = img[0].src;
   
                 
                  $("#imgZoom").attr("src", src);//绑定图片地址  
   
                  $("#divZoom").show(100);//弹出图片放大层
                  $("html,body").animate({ scrollTop: top }, 100);//滚动
              });
              //关闭
              $("#divZoom").click(function () {
                  $("#divZoom").hide(100);
              });
          });
  
      
</script>
{% endblock %}